<app-nav-header></app-nav-header>
<!-- Product image -->
<img src="{{ product?.url }}" alt="{{ product?.name }} image">
<!-- Product Name -->
<p>{{ product?.name }}</p>
<!-- Product Price -->
<p>${{ product?.price }}</p>
<!-- Product Description -->
<p>{{ product?.description }}</p>

<p>Quantity selected: {{ selectedQty }}</p>

<!-- Quantity selector -->
<form (ngSubmit)="addToCart()">
    <select [(ngModel)]="selectedQty" name="quantity" id="">
        <option *ngFor="let option of ngOptions" [selected]="option === ngDefaultQty" [ngValue]="option">{{ option }}</option>
    </select>
    <input type="submit" value="Add To Cart">
</form>
