<h1 class="text-2xl mx-5 mr-auto py-2 font-bold">Your Cart</h1>

<!-- <div *ngIf="cartItems.length > 0; else elseBlock"> -->
<div class="flex flex-wrap mx-auto">
    <section class="mx-auto">
        <app-cart-item class="" *ngFor="let cartItem of cartItems" [cartItem]="cartItem" (removed)="onRemove(cartItem)" (quantityUpdated)="onQtyUpdate(cartItem, $event)"></app-cart-item>
    </section>
    <aside class="max-w-fit mx-auto">
        <h2 class="text-xl font-bold">Order Summary</h2>
        <p class="min-w-max my-2">Total (with free standard shipping): <span class="min-w-full font-bold">{{ total | currency }}</span></p>
        <hr>
        <button class="my-2 p-2 bg-teal-400 font-medium text-white rounded shadow-md hover:bg-teal-500" routerLink="/checkout">Checkout</button>
    </aside>
</div>
<!-- <ng-template #elseBlock>
    <h2 class="text-center">Your cart is looking a bit lonely... Give it some friends!</h2>
</ng-template> -->
