<h1 class="text-2xl p-2 font-bold">Your Cart</h1>

<div *ngIf="cartItems.length > 0; else elseBlock">
    <app-cart-item *ngFor="let cartItem of cartItems" [cartItem]="cartItem" (removed)="onRemove(cartItem)" (quantityUpdated)="onQtyUpdate(cartItem, $event)"></app-cart-item>
    <h2>Order Summary</h2>
    <p>Total (with free standard shipping): {{ total | currency }}</p>
    <button routerLink="/checkout">Checkout</button>
</div>
<ng-template #elseBlock>
    <h2 class="text-center">Your cart is looking a bit lonely... Give it some friends!</h2>
</ng-template>
