<div>
    <label for="sort-select">Sort by </label>
    <select [(ngModel)]="sortType" id="sort-select" (ngModelChange)="sortBy($event)">
        <option value="high-low" [defaultSelected]="">Price: $$ - $</option>
        <option value="low-high">Price: $ - $$</option>
    </select>
</div>

<main class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  mx-10 bg-slate-50">
    <app-product-thumbnail class="m-auto p-5 xl: max-w-xl" *ngFor="let product of sortedProducts" [product]="product"></app-product-thumbnail>
</main>

