<a [routerLink]="['/products', cartItem.product?.id]"><img src="{{ cartItem.product?.url }}" alt="{{ cartItem.product?.name }} image thumbnail" height="200"></a>
<a [routerLink]="['/products', cartItem.product?.id]"><p>{{ cartItem.product?.name }}</p></a>
<p>{{ cartItem.product?.price | currency }}</p>
<label for="cartitem-qty">Qty: </label>
<select #qty name="cartitem-qty" (change)="qtyUpdated(qty.value)">
    <option *ngFor="let option of ngOptions" [selected]="option === cartItem.quantity" [ngValue]="option">{{ option }}</option>
</select>
<button (click)="removed.emit(cartItem)">Remove</button>
<br>

