<a [routerLink]="['/products', cartItem.product?.id]">
    <img class="max-h-60 drop-shadow-md rounded hover:" src="{{ cartItem.product?.url }}" alt="{{ cartItem.product?.name }} image thumbnail">
</a>
<a [routerLink]="['/products', cartItem.product?.id]">
    <h3>{{ cartItem.product?.name }}</h3>
</a>
<p>{{ cartItem.product?.price | currency }}</p>
<label for="cartitem-qty">Qty: </label>
<select class="form-select max-w-xs rounded inline-block" #qty name="cartitem-qty" (change)="qtyUpdated(qty.value)">
    <option *ngFor="let option of ngOptions" [selected]="option === cartItem.quantity" [ngValue]="option">{{ option }}</option>
</select>
<button class="" (click)="removed.emit(cartItem)">Remove</button>
<br>

