<form [formGroup]="customerDetailsForm" (ngSubmit)="onSubmit()">
    <label for="email">Email: </label>
    <input id="email" type="text"  name="email" formControlName="email">
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" name="first-name" formControlName="firstName">
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" name="last-name" formControlName="lastName">

    <div formGroupName="address">
        <h2>Address</h2>
      
        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street">
      
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city">
      
        <label for="state">State: </label>
        <select id="state" type="text" formControlName="state">
            <option disabled>Select...</option>
            <option *ngFor="let state of states">{{ state }}</option>
        </select>   
      
        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip">
    </div>

      <button type="submit" [disabled]="!customerDetailsForm.valid">Place Order</button>
</form>
